Graffana-Node-Red/NODERED_FLOW_SAE23_IRASTORZA_IRAOLA_FERRIGNO.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "31d5c991e02fab88",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MosquittoRT",
        "topic": "AM107/by-room/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97f802cb2127c6b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 900,
        "wires": [
            [
                "99905d37f61b6aee"
            ]
        ]
    },
    {
        "id": "2655e7e7a8886a77",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 140,
        "wires": []
    },
    {
        "id": "f9a48a7a2a8cd990",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "TEMPERATURE E106",
        "func": "var payload = msg.payload[0];\nvar temperature = payload.temperature;\nmsg.payload = temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 100,
        "wires": [
            [
                "2655e7e7a8886a77",
                "dc85aeee8760c876",
                "e99050fe68112ecd"
            ]
        ]
    },
    {
        "id": "29b24cc26c889925",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "TEMPERATURE E208",
        "func": "var payload = msg.payload[0];\nvar temperature = payload.temperature;\nmsg.payload = temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 540,
        "wires": [
            [
                "185b07e2512da398",
                "0583df85d6b1e492",
                "775d36d7382b61d1"
            ]
        ]
    },
    {
        "id": "185b07e2512da398",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 580,
        "wires": []
    },
    {
        "id": "52698fc50416e706",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 E208",
        "func": "var payload = msg.payload[0];\nvar co2 = payload.co2;\nmsg.payload = co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 700,
        "wires": [
            [
                "44cdae5853920b49",
                "68898ad251da6031",
                "21992506cd5474a0"
            ]
        ]
    },
    {
        "id": "44cdae5853920b49",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 740,
        "wires": []
    },
    {
        "id": "8771f7453980ec95",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1be3ffb6bb740f3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 E106",
        "func": "var payload = msg.payload[0];\nvar co2 = payload.co2;\nmsg.payload = co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 260,
        "wires": [
            [
                "8771f7453980ec95",
                "3f5dc28d011dda5a",
                "281675979a792bcf"
            ]
        ]
    },
    {
        "id": "dc85aeee8760c876",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d16932c3c1cae465",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température E106",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 100,
        "wires": []
    },
    {
        "id": "3f5dc28d011dda5a",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d652e8ac35df5028",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 E106",
        "label": "ppm",
        "format": "{{value}}",
        "min": "350",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 260,
        "wires": []
    },
    {
        "id": "0583df85d6b1e492",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d16932c3c1cae465",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température E208",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 540,
        "wires": []
    },
    {
        "id": "68898ad251da6031",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d652e8ac35df5028",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 E208",
        "label": "ppm",
        "format": "{{value}}",
        "min": "350",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 700,
        "wires": []
    },
    {
        "id": "9cc315942e09dfc9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6e44e85b80573148",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "TEMPERATURE B112",
        "func": "var payload = msg.payload[0];\nvar temperature = payload.temperature;\nmsg.payload = temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 980,
        "wires": [
            [
                "9cc315942e09dfc9",
                "0b66f94503cdb136",
                "94efadc6f59264cd"
            ]
        ]
    },
    {
        "id": "b91700dd28e90d47",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "TEMPERATURE B103",
        "func": "var payload = msg.payload[0];\nvar temperature = payload.temperature;\nmsg.payload = temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1420,
        "wires": [
            [
                "aa6bf34c45acb703",
                "d74f32301ec3d16e",
                "7fc5692057021c0a"
            ]
        ]
    },
    {
        "id": "aa6bf34c45acb703",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1460,
        "wires": []
    },
    {
        "id": "54b22b86cf539065",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 B103",
        "func": "var payload = msg.payload[0];\nvar co2 = payload.co2;\nmsg.payload = co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1580,
        "wires": [
            [
                "7434982495113830",
                "63f28c8d34ca64f9",
                "c883520dbbc2c642"
            ]
        ]
    },
    {
        "id": "7434982495113830",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1620,
        "wires": []
    },
    {
        "id": "24f042cd05366307",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1180,
        "wires": []
    },
    {
        "id": "83ed0aaab08f6134",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 B112",
        "func": "var payload = msg.payload[0];\nvar co2 = payload.co2;\nmsg.payload = co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1140,
        "wires": [
            [
                "24f042cd05366307",
                "7e06f4d2e63f2e9c",
                "8510f05025d61db8"
            ]
        ]
    },
    {
        "id": "0b66f94503cdb136",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "cc615769f513f107",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température B112",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 980,
        "wires": []
    },
    {
        "id": "7e06f4d2e63f2e9c",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "4b8fac2481850b01",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 B112",
        "label": "ppm",
        "format": "{{value}}",
        "min": "350",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d74f32301ec3d16e",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "cc615769f513f107",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température B103",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1420,
        "wires": []
    },
    {
        "id": "63f28c8d34ca64f9",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "4b8fac2481850b01",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 B103",
        "label": "ppm",
        "format": "{{value}}",
        "min": "350",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 1580,
        "wires": []
    },
    {
        "id": "99905d37f61b6aee",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "DISTRIBUTION DES SALLES",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "E106",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "E208",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "B112",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "B103",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1070,
        "y": 900,
        "wires": [
            [
                "f9a48a7a2a8cd990",
                "a1be3ffb6bb740f3"
            ],
            [
                "52698fc50416e706",
                "29b24cc26c889925"
            ],
            [
                "6e44e85b80573148",
                "83ed0aaab08f6134"
            ],
            [
                "b91700dd28e90d47",
                "54b22b86cf539065"
            ]
        ]
    },
    {
        "id": "6a97af5fa0db5e50",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "temperature,building=RT,room=E106",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2100,
        "y": 180,
        "wires": []
    },
    {
        "id": "e99050fe68112ecd",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 180,
        "wires": [
            [
                "6a97af5fa0db5e50"
            ]
        ]
    },
    {
        "id": "1936e2f41f20ecea",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "temperature,building=RT,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2100,
        "y": 620,
        "wires": []
    },
    {
        "id": "775d36d7382b61d1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 620,
        "wires": [
            [
                "1936e2f41f20ecea"
            ]
        ]
    },
    {
        "id": "21992506cd5474a0",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 780,
        "wires": [
            [
                "fbbd523e98d64aa0"
            ]
        ]
    },
    {
        "id": "fbbd523e98d64aa0",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "co2,building=RT,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2080,
        "y": 780,
        "wires": []
    },
    {
        "id": "2cecfff2e9dfeb96",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "co2,building=RT,room=E106",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2080,
        "y": 340,
        "wires": []
    },
    {
        "id": "281675979a792bcf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 340,
        "wires": [
            [
                "2cecfff2e9dfeb96"
            ]
        ]
    },
    {
        "id": "94efadc6f59264cd",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 1060,
        "wires": [
            [
                "3cee1257eaeca610"
            ]
        ]
    },
    {
        "id": "3cee1257eaeca610",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "temperature,building=INFOGIM,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2120,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8510f05025d61db8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 1220,
        "wires": [
            [
                "4fba4d6fb8b2c32a"
            ]
        ]
    },
    {
        "id": "4fba4d6fb8b2c32a",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "co2,building=INFOGIM,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2100,
        "y": 1220,
        "wires": []
    },
    {
        "id": "7fc5692057021c0a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 1500,
        "wires": [
            [
                "9c8852353d1b4e42"
            ]
        ]
    },
    {
        "id": "9c8852353d1b4e42",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "temperature,building=INFOGIM,room=B103",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2120,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c883520dbbc2c642",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 1660,
        "wires": [
            [
                "52b92e38b0f9e94c"
            ]
        ]
    },
    {
        "id": "52b92e38b0f9e94c",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "37656ba94c558a21",
        "name": "",
        "measurement": "co2,building=INFOGIM,room=B103",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 2100,
        "y": 1660,
        "wires": []
    },
    {
        "id": "97f802cb2127c6b8",
        "type": "mqtt-broker",
        "name": "MosquittoRT",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d16932c3c1cae465",
        "type": "ui_group",
        "name": "Capteurs Température",
        "tab": "c82e5ebd120808ed",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d652e8ac35df5028",
        "type": "ui_group",
        "name": "Capteurs CO2",
        "tab": "c82e5ebd120808ed",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc615769f513f107",
        "type": "ui_group",
        "name": "Capteurs Température",
        "tab": "9a1538f345875c34",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b8fac2481850b01",
        "type": "ui_group",
        "name": "Capteurs CO2",
        "tab": "9a1538f345875c34",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37656ba94c558a21",
        "type": "influxdb",
        "hostname": "192.168.108.133",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs23",
        "name": "Base de données",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "c82e5ebd120808ed",
        "type": "ui_tab",
        "name": "Bâtiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a1538f345875c34",
        "type": "ui_tab",
        "name": "Bâtiment B",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]